<html>
<head>
    <script type="application/javascript">
        function ping() {
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function() {}
            xhr.open('GET', '/ping');
            xhr.send();
        }

        setInterval(ping, 30000);
    </script>
    <title>WHAT DO?</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style type="text/css">
        .w3-card-4 label {
            margin-bottom: 16px;
            display: block;
            font-style: italic;
        }

        #done-button {
            display: inline;
            width: auto;
        }
    </style>
</head>
<body>
    <header class="w3-container
        {% if mode == "home" %}
        w3-blue
        {% elif mode == "work" %}
        w3-orange
        {% else %}
        w3-teal
        {% endif %}
    ">
        {% if mode %}
        <h1>{{ mode|upper }} DO?</h1>
        {% else %}
        <h1>WHAT DO?</h1>
        {% endif %}
    </header>
    <section class="w3-container w3-dark-gray">
        <form action="/api/form/mode/set" method="post" class="w3-margin">
            <select name="mode" onchange="this.form.submit()" class="w3-select">
                <option value="home">Home</option>
                <option value="work">Work</option>
                <option value="none">All</option>
                <option value="none" selected>Change Mode</option>
            </select>
        </form>
    </section>
    <section class="w3-container w3-deep-purple w3-padding-48 w3-center ">
        {% if tasks %}
        <h2>Next: <strong>{{ tasks[0].name }}</strong></h2>
        <form action="/api/form/tasks/{{ tasks[0].id }}/delete" method="post" onSubmit="return confirm('Do you want to delete?')">
            <input type="submit" value="Done" class="w3-blue w3-input" id="done-button" />
        </form>
        {% else %}
        <h2>No tasks left!</h2>
        {% endif %}
    </section>
    <section class="w3-padding-16 w3-third w3-container task-card"
        data-mode="{{ mode }}"
        data-importance="3"
        data-time_to_complete="3"
        data-task_type="{{ mode }}"
    >
    </section>
    {% for task in tasks %}
    <section class="w3-padding-16 w3-third w3-container task-card"
        data-mode="{{ mode }}"
        data-id="{{ task.id }}"
        data-name="{{ task.name }}"
        data-importance="{{ task.importance }}"
        data-time_to_complete="{{ task.time_to_complete }}"
        data-density="{{ task.effective_density }}"
        data-task_type="{{task.task_type}}"
        data-task_type="{{task.task_type}}"
        data-activation_time="{{task.activation_time}}"
    >
    </section>
    {% endfor %}
    </section>
    <script src="/dist/bundle.js"></script>
</body>
</html>
